body{
    font-family: 'Bodoni Moda', serif;
    background-image: url(../img/baggrund-nyy.png);
    background-repeat: no-repeat;
    background-size: cover;

} 

.container{
    width: 1024px;
    font-family: 'Bodoni Moda', serif;
}

/*dropdown menu starter her*/
.parent{
width: 123%;
flex: 1;
display: flex;
flex-direction: row-reverse;
margin-top: -15px;

}

.dropdown {
    position:relative;
    display: inline-block;
    
}

.dropbtn {
    background-color:rgba(255, 255, 255, 0);
    color: none;
    padding: 0px;
    font-size: 16px;
    border: none;
    
  }
.active {
    color: rgb(0, 0, 0);
}

  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #949494b7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    

  }
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    

  }

  .dropdown-content a:hover {
      background-color: rgba(77, 77, 77, 0.233)

    }
  .dropdown:hover .dropdown-content {
      display: block;
    
    }
  .dropdown:hover .dropbtn {
      background-color: rgba(128, 128, 128, 0)
    }
/*dropdown menu slutter her*/

h1{
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-size: 60px;
    line-height: 300px;
    font-weight: bolder;
}
.overskrift1 {
    text-align: left;
    font-size: 100px;
    margin-right: 1000px;
    margin-top: 130px;
    margin-left: 50px;
    letter-spacing: 0px;
    
}
.overskrift-mul{
    font-family: 'Bodoni Moda', serif;
    margin-top: 0px; 
    margin-left: 50px;
    margin-bottom: 250px;
    font-size: 20px;
    font-style: italic;
}

.overskrift2 {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 20px;
    font-size: 50px;
    margin-left: 20%;
    padding-bottom: 5px;
    font-style: bold;

}
.tekst {
    margin-left: 250px;
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 30px;
}

.overskrift3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    margin-left: 20%;
    padding-top: 25px;
    margin-top: 300px;
}

.port-billede{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 850px;
}

.port-billede2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 500px;
}

.port-billede3{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 150px;
}

.overskrift4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    margin-left: 20%;
    padding-top: 150px;
    margin-top: 200px;
}

.overskrift5 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 500px ;
    font-size: 50px;
    margin-left: 20%;
    padding-top: 150px;
}

.overskrift6 {
    text-align: center;
    margin-top: 1000px;
    font-size: 50px;
    margin-left: 20%;
    padding-top: 150px;
    margin-bottom: 70px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1.5px;
    text-size-adjust: 10%;
    color: black;
}

.kontakt-info{
    float: left;
    font-family: 'Bodoni Moda', serif;
    margin-left: 150px;
    margin-top: 230px;
    line-height: 30px;
    font-size: 115%;
    flex:1;
    
}


.fa {

    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    margin: 15px -10px 0px 40px;
    border-radius: 50%;

  }
  
  .fa:hover {
      opacity: 0.7;
      text-decoration: none;
  }
  
  .fa-facebook {
    background: #858589;
    color: white;
  }
  .fa-linkedin {
    background: #858589;
    color: white;
  }
  .fa-instagram {
    background: #858589;
    color: rgb(255, 255, 255);
  }

.kontakt-some{
    display: flex;
    float: left;
}


* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], textarea {
    width: 120%;
    padding: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0);
    border-left: 1px solid rgba(204, 204, 204, 0);
    border-right: 1px solid rgba(204, 204, 204, 0);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid black;
    font-size: 110%;
  }
  
  input[type=submit] {
    background-color: #ffffff00;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 115%;
    margin-left: 355px;
    font-family: 'Bodoni Moda', serif;
  }
  
  input[type=submit]:hover {
    text-decoration: underline;    
  }
  
  /* Style the container/contact section */
  .container-kontakt {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: 600px;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
.foot{
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    padding: 15px;
    margin-left: 250px;
    font-size: 9px;
  }